body {
    > .aky-filemanager-modal {

        > .modal-dialog {
            max-width: 1200px;
        }
    }

    #file-manager-access-denied {
        height: 100vh;

        img {
            width: auto;
            height: 80px;
            display: block;
        }
    }
}