.aky-file {
    @include flex(column, nowrap, center, center);
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 4px;
    background-color: color(lightgray);
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
    overflow: hidden;

    &.selected {
        border: 3px solid color(primary);
    }

    &-container {

    }

    &-collection {
        @include flex(row, wrap, flex-start, stretch);

        &-remove {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .aky-file {
            &-container {
                padding-right: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                flex: 1;
                max-width: 155px;
            }

            &-add {
                @include flex(row, wrap, center, center);
                height: 50px;
                width: 50px;
                background-color: color(grey);
                box-shadow: none;
                transition: ease .3s;
                border-radius: 100%;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
                }
            }
        }
    }

    &-direction {
        @include flex(row, wrap, center, center);
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px;

        &-left {
            margin-right: 2px;
        }
    }

    &-preview {
        @include flex(row, wrap, center, center);
        height: 100%;
        width: 100%;
        font-size: 3rem;

        &:hover {
            text-decoration: none;
        }

        img {
            @include objectFit(contain, center, 100%, 100%);
            background-color: rgba(0,0,0,0.1);
        }
    }

    //&-input {
    //    display: none;
    //}

    &-btnmanager {
        position: absolute;
        bottom: 5px;
        right: 5px;
        border: 1px solid white;
    }

    &-shared {
        @include flex(row, nowrap, center, center);
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: color(white);
        color: color(primary);
        padding: 2px;
        border-radius: 50%;
        border: 1px solid color(primary);

        svg {
            height: 16px;
            width: 16px;
        }

    }

    .btn-sm {
        font-size: 0.75rem;
    }

    &-infos{
        @include flex(row, nowrap, space-between, flex-start);
        font-size: 10px;
        padding: 5px;
        width: 150px;

        &__name{
            word-break: break-all;
        }

        &__size{
            word-break: keep-all;
            margin-left: 3px;
        }
    }

    &--folder {
        box-shadow: none;
        border: 1px solid lightgrey;
        height: 45px;

        .aky-file-preview {
            @include flex(row, nowrap, flex-start, flex-start);
            padding-left: 5px;
            font-size: 2.5rem;
        }
    }
}