form[name=upload] {
    display: flex;
    align-items: center;
    overflow: hidden;

    #upload {
        padding: 1rem 2rem;
        .custom-file {
            height: 100%;
            &-label {
                display: none;
            }
        }
    }
}
