form[name=upload] {
    @include flex(column, nowrap, flex-start, flex-end);
    overflow: hidden;

    #upload {
        padding: 1rem 0;
        width: 100%;
        .custom-file {
            height: 100%;
            &-label {
                display: none;
            }
        }
    }
}

.button-label {
    cursor: pointer !important;
}
