$theme-colors: (
        primary: #163D82,
        gold : #d1c186,
        goldlight : #e6d8bb,
        golddark : #AC9960,
        gray : #cecece,
        lightgray : #f5f5f5,
        third : #fcfcfe,
        black: black,
        white: white,
);

:root {
    @each $name, $color in $theme-colors {
        --color-#{$name}: #{$color};
    }
}

