{% extends '@AkyosCms/layout.html.twig' %}

{% block title %}FileManagerBundle - Options{% endblock %}

{% block page_content %}
    <h1 class="mb-5">Options du gestionnaire de fichiers</h1>
    {{ include('@AkyosFileManager/file_manager_options/_form.html.twig') }}
{% endblock %}
